*.beam
fn_lexer.erl
fn_parser.erl
src/*.fn
erl_crash.dump
.*.swp
*.o
deps
docs/_build
docs/lib/*.rst
docs/build/Jinja2/
docs/build/Pygments/
docs/build/sphinx/
ebin
bin
.eunit
efene.d
.erlang.mk
TODO
efene
scratch.erl
examples/scratch.fn
_build
.rebar3
rebar.lock
